#navbar-floating
    {
        border-top: 2px solid #6db17a;
        border-bottom: 2px solid #6db17a;
    }

#navbar-fixed
{
	opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}

#nav-link
{
	font-color:red;
}