@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using ClientDependency.Core.Mvc

@{
    Layout = "Master.cshtml";
    @*Html.RequiresCss("/css/Article-Clean.css");*@
}

</div>
<div class="jumbotron jumbotron-fluid bg-dark grit"  style="margin-bottom:0">

  <div class="container bg-white rounded">
      <br />
@{ Html.RenderPartial("Content/_ArticleContent"); }
 <br />
    </div>
</div>