@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Newtonsoft.Json.Linq
@using ClientDependency.Core.Mvc

@{
    Layout = "Master.cshtml";
    Html.RequiresCss("/css/Article-List.css");
    Html.RequiresCss("/css/Carousel-Hero.css");
}

</div>
@{ Html.RenderPartial("Partials/Content/_MainArticles"); }
<div class="content container">

<div class="row">
    <div class="col-md-8">@{ Html.RenderPartial("Partials/Content/_LatestArticles"); }</div>
    <div class="col-md-4">@Umbraco.Field("sideContent", recursive: true)</div>
</div>

</div>