@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@using ClientDependency.Core.Mvc

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ Html.RenderPartial("SiteLayout/_MetaData"); }
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    *@
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    *@
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    @{
        //styles
        Html.RequiresCss("/css/Bootstrap4-YMAC.css");
        Html.RequiresCss("/css/Footer-Basic.css");
        @*Html.RequiresCss("/css/Navigation-Clean1.css");*@
        Html.RequiresCss("/css/News-Cards.css");
        Html.RequiresCss("/css/Navigation.css");
        @*Html.RequiresCss("/css/styles.css");*@

        //scripts
        Html.RequiresJs("/scripts/navigationMenu.js");
    }

    @Html.RenderCssHere()

<style>
    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index:1000;
    }
    .hero h1 {
        text-align:center;
        font-weight:bold;
    }
    
    
    
    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
   
    .body-container{
        padding-top: 61px;
    }
    
    #navbar-floating
    {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    
</style>

</head>
<body>
    <div class="container">
        
    <!--<div style="margin-top:70px;"></div>-->
    <!--@{ Html.RenderPartial("SiteLayout/_MainNavigation"); }-->
    
    
    <div class="row">
        <div class="col-lg-12 hero">
            <div class="">
                
                <h1><img style="padding-top:15px; padding-bottom:10px;" src="/media/siteassets/ymac-logo.png" /></h1>
            </div>
        </div>
    </div>
    </div>
    
 @{ Html.RenderPartial("SiteLayout/_FixedMainNavigation"); }
 
<div class="container" id="body-container">
    
    @{ Html.RenderPartial("SiteLayout/_FloatingMainNavigation"); }
 
</div>
<br />
<div class="container" id="body-container">
    @RenderBody()
        
    @{ Html.RenderPartial("SiteLayout/_Footer"); }
    </div> <!--end container-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    @Html.RenderJsHere()
</body>
<script>
    // When the user scrolls the page, execute myFunction 
    window.onscroll = function() {myFunction()};
    
    // Get the navbar
    //var navbar = document.getElementById("navbar");
    var navbarfloating = document.getElementById("navbar-floating");
    var navbarfixed = document.getElementById("navbar-fixed");
    
    // Get the Body Container
    var bodycontainer = document.getElementById("body-container");
    
    // Get the offset position of the navbar
    //var sticky = navbar.offsetTop;
    var sticky = navbarfloating.offsetTop;
    $('#navbar-fixed').hide();
    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            //$('#navbar-floating').hide();
            $('#navbar-fixed').show();
        } 
        else {
            $('#navbar-floating').show();
            $('#navbar-fixed').hide();
        }
      /*if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky");
        navbar.classList.add("navbar-dark");
        navbar.classList.add("bg-dark");
        bodycontainer.classList.add("body-container");
      } else {
        navbar.classList.remove("sticky");
        navbar.classList.remove("navbar-dark");
        navbar.classList.remove("bg-dark");
        bodycontainer.classList.remove("body-container");
      }*/
    }
</script>
</html>